.game {
  display: flex;
  flex: 1;
  margin-bottom: 10px;
  overflow: hidden;
  flex-direction: column;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.game-pane {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.rule {
  font-size: 12px;
}

.rule-tag {
  font-weight: bold;
}

.rule-split {
  margin-left: 10px;
}

.setting-field {
  margin-bottom: 5px;
}

.ans {
  margin: 5px 0;
}

.game-input input {
  font-size: 16px;
}

.spell {
  display: flex;
  flex-direction: row;
  height: 28px;
}

.source::before {
  content: 'Github';
}

.source:hover::before {
  content: '源码';
}

.link {
  font-size: 14px;
  color: rgb(0, 122, 204);
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link + .link {
  margin-top: 10px;
}

.drawer-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow-x: auto;
}

.drawer-menu button + button {
  margin-top: 10px;
}
